/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
    font-family: 'brandon_grotesque';
    src: url('/fonts/brandongrotesque-blackitalic-webfont.eot');
    src: url('/fonts/brandongrotesque-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandongrotesque-blackitalic-webfont.woff') format('woff'),
         url('/fonts/brandongrotesque-blackitalic-webfont.ttf') format('truetype'),
         url('/fonts/brandongrotesque-blackitalic-webfont.svg#brandon_grotesqueblack_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'brandon_grotesque';
    src: url('/fonts/brandongrotesque-black-webfont.eot');
    src: url('/fonts/brandongrotesque-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandongrotesque-black-webfont.woff') format('woff'),
         url('/fonts/brandongrotesque-black-webfont.ttf') format('truetype'),
         url('/fonts/brandongrotesque-black-webfont.svg#brandon_grotesqueblack') format('svg');
    font-weight: 700;
    font-style: normal;
}



/* ==========================================================================
   Custom styles
   ========================================================================== */
.centered {
        float: none;
        margin: 0 auto 0 auto;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
  -webkit-font-smoothing:antialiased;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    text-transform: capitalize;
    margin-bottom:0;
}
.navbar-inverse {
    background-color: #000;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
.jumbotron {
    background-color: #000;
    padding-top:0px;
    text-align:center;
    padding-bottom:0px;
}
.jumbotron .container {
    margin: 0 auto;
    /*This width needs to be the width of logos.png + 30px*/
}
.jumbotron h1 {
    font-size: 53px;
    text-align:center;
    font-weight:bold;
    color: #43c0e1;
    margin-top: 8px;
    margin-bottom:12px;
    z-index:100;
    position:relative;
}
.jumbotron h2 {
    text-transform:uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
    font-size:28px;
    margin-top: 0px;
    margin-bottom:0px;
    z-index:100;
    position:relative;
}
.jumbotron #headergraphic {
    background: url('/img/header.jpg') center bottom no-repeat ;
    height:320px;
}
.jumbotron #logos {
    margin-top:10px;
    margin: 10px auto 0 auto;
}
/* ==========================================================================
   Counter
   ==========================================================================*/

#subscribers-count {
     color: #43c0e1;
     font-size: 0.9em;
     font-weight: 600;
     margin: 34px 0 12px;
}
  .odometer {
     font-size: 1.1em;
     margin: -8px 10px 0 10px;
 }

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-car.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  }

#seconds-left.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, #seconds-left.odometer.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}

#seconds-left.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, #seconds-left.odometer.odometer-theme-car.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  }

.odometer {
    margin-right: 3px;
    margin-left: 3px;
    margin-top: -3px;
}

@media (max-width: 991px) {
    #subscribers-count {
        font-size:0.85em;
    }
}

@media (max-width: 440px) {
    #subscribers-count {
        font-size:0.9em;
    }
}

/* ==========================================================================
   Signup banner
   ==========================================================================*/

#signup {
    line-height: 99px;
    color: #fff;
    font-size: 24px;
    margin: 0 auto;
    float: none;
    background: #cc0000;
    height: 99px;
    padding:0;
    width:100%;
    text-align:center;
    font-weight:400;
    letter-spacing:1px;
}
#signup label {
    letter-spacing:0;
}

.nosidemargin{
    margin-left:0;
    margin-right:0;
}
#signupform {
    color: #fff;
    font-size: 24px;
    margin: 0 auto;
    float: none;
}
#signup-text {
    display:inline-block;
    width:52%;
    text-align:right;
}
.email-box {
  position: relative;
  width: 47%;
  display: inline-block;
  text-align: left
}
.email-updates.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100000000;
}
.email-updates .email-input {
    width: 230px;
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 17px;
}
.email-updates .btn {
    margin-bottom:17px;
}
.sticky-signup .email-close {
    display: inline-block;
}
.email-close {
  display: none;
  text-decoration: underline;
}
.org-container {
    position: absolute;
    top: 69px;
    font-size: 13px;
    font-family: Arial;
}
.org-container a, .org-container a:visited {
    color: #fff;
}
.org-container input {
    margin-top: 2px;
    float: left;
    margin-left: 0px;
    margin-right: 7px;
}
.org-container label {
    font-weight: normal;
    line-height: normal;
    float: left;
}
.banner-live pre {
    font-size:12px;
    margin: 15px 0;
}
.banner-live {margin-bottom:30px;}
.banner-live .step h5.howtoaddcode {
    text-align:left;
    margin-top:20px;
}
#letter, #whatwewilldo {
    width:100%;
    padding:32px 0 44px 0;
    background-size: cover;
    font-size:19px;
}
#letter {
    background: url('/img/sopa-bg.jpg') center top no-repeat ;
    border-bottom: 2px solid #169DC3;
}
#letter .row, #whatwewilldo .row {
    margin: 0;
}
#letter h2, #whatwewilldo h2 {
    font-weight:bold;
    color: #0682a3;
    font-size:28px;
    margin-bottom:20px;
}
#letter p, #whatwewilldo p {
    font-weight: 600;
}
#letter p span, #whatwewilldo p span {
    font-weight: bold;
}
p#intro span {
    font-weight: bold;
}
#aaron {
    float: right;
    margin: 0 0 40px 40px;
}
#take-part {
    background: url('/img/takepart.png') no-repeat;
    height:150px;
    background-size: 100%;
}
#take-part h2 {
    font-size:30px;
    font-weight:600;
    text-align:center;
    color: #fff;
    text-transform: uppercase;
    padding-top:30px;
    margin-top:0;
}
#take-part h2 span {
    font-style: italic;
}
.smalltext {
    font-size:12px;
}

#actions #intro {
    font-size: 19px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom:30px;
}

div.step h4 {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
    border-bottom: 4px solid #0ba5c2;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 30px;
    margin-top: 50px;
        font-size:1.7em;
}

div.step p {
    font-size:.95em;
}
.step.row {
    margin-bottom:15px;
}
.step img {
    max-width:100%;
}
.step .morefb {
    margin-top:35px;
    margin-bottom:10px
}
.step h5 {
    text-transform: uppercase;
    font-weight:bold;
    font-size:16px;
    text-align:center;
    margin-top:0;
}
#twibbon:hover {
    opacity: 0.7;
}
#fb-share-graphics div {
    margin-bottom:15px;
}
#fb-share-graphics img:hover {
    opacity:0.8;
}
#fb-share-graphics img {
    margin-left: auto;
    margin-right: auto;
}
.banner-signup-form {
    margin: auto;
    text-align:center;
}
footer p {
    text-align: right;
}

@media (max-width: 890px) {
  .floating-share {
    display: none;
  }
}

#headergraphic > a:hover {
    text-decoration: none;
    color: inherit;
}

.sharecenter {
    height: 88px;
    margin-top: 80px;
}

.social-count {
    display: inline-block;
    position: relative;
}

.social-link-container {
    margin-top:20px;
    text-align:center;
}

.sticky-signup .email-updates {
    width: 100%;
    z-index: 10;
}
.email-updates .row {
    margin:0;
}
.social-count:after {
    background: #efefef;
    border: 1px solid #ccc;
    border-radius: 1px;
    top: -39px;
    color: #444;
    content: attr(count);
    display: block;
    left: 0px;

    width: 54px;
    padding: 5px;
    text-align: center;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
}

.social-count:before {
    border: solid;
    border: 1px solid #ccc;
    border-color: #111 transparent;
    border-color: #ccc transparent;
    border-width: .4em .4em 0 .4em;
    top: -6px;
    content: "";
    display: block;
    left: 22px;
    position: absolute;
}
#socfooter a {
    float: left;
    margin:4px;
    width:54px;
    margin:4px;
    height:54px;
    z-index: 0;
}
#socbar.sharecenter {
    margin-top:50px;
}
.floating-share {
    position: fixed;
    width: 50px;
    height: 300px;
    left: 5px;
    top: 100px;
    z-index: 100;
}
.floating-share a {
    margin-bottom: 50px;
}
#socfooter.sharecenter a {
    margin-right: 107px;
}

#privacy {
    margin-top:50px;
}

#take-part {
    background-image:none;
}
#take-part h2 {
    background-color:#169dc3;
    position:relative;
    z-index: -1;
    padding-bottom:20px;
}
#take-part h2:after {
    background: url('/img/takepart.png') no-repeat;
    background-size:auto 50px;
    background-position: center;
    display:block;
    content:'';
    width:100%;
    height:50px;
    position:absolute;
    top:100%;
    margin-top: -13px;
    z-index:-2;
}

.banner-signup-form input.btn {
    background: #CC0000;
    color: #fff;
}

.banner-signup-form input.btn:hover {
    background: #A00E0E;
}
.banner-signup-form input.form-control {
    width:240px;
}
.step #greybox {
    background-color: #DDF8FF;
    padding: 15px;
    margin-top: 17px;
    border-top: 2px solid #2FC8F1;
    border-bottom: 2px solid #2FC8F1;
}
div.step h4.reddit-title {
    border-bottom:none;
    text-align:left;
    font-size:1.2em;
    word-wrap:break-word;
}
.rembeddit {
    line-height:16px;
}
footer {
    font-size:14px;
    background: #eee;
    padding:50px;
    margin-top:100px;
}
input.btn-lg, .input-lg {border-radius:0;}

/* ==========================================================================
   Video page
   ==========================================================================*/
.jumbotron.video {
    padding-bottom: 20px;
}
.jumbotron.video #headergraphic {
    height: auto;
    background-image: none;
}
.video#branding {
    background-image:none;
}

@media (max-width: 600px) {
    #video {
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
#video-preload {
    cursor:pointer;
    cursor:hand;
    max-height: 100%;
}
#video-preload:hover {
    opacity:0.8;
}
#video #logos {
    margin:0 auto;
    margin-top: 30px;
}
.video-container img {
    margin: 0 auto;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#video {
    background-color: #000;
}
#social-vid {
    text-align:center;
    margin-top:15px;
}
#social-vid img {
    margin-right:10px;

    transition:0.1s ease-in all;
}
#social-vid img:hover {
    opacity:0.8;
}

/* ==========================================================================
   Blog
   ==========================================================================*/

#blog-index {
    padding-top:40px;
}

#blog-index img{
    margin: 20px 0;
}

#blog-index .post {
    margin-bottom:40px;
}

#blog-index h2 a:hover {
    text-decoration: none;
}

#blog-index .date {
    font-weight:bold;
    text-transform:uppercase;
    color: #888;
}
#blog-index h2 {
    font-weight: bold;
    margin-top:0;
}

div.blogpost {
    margin-top:30px;
}

.blogpost .post {
    margin-top:30px;
    font-size:18px;
}
.blogpost h1 {
    line-height: 1.4;
}
.blogpost ul li {
    margin-bottom: 5px;
}
.blogpost h3 {
    margin-top: 30px;
    font-size: 18px;
    font-weight:bold;
    line-height: 1.3;
}

#lettertowikipedia {
    font-size:22px;
}
#list-of-events h4{
    text-transform: uppercase;
    font-weight: 700;
    margin-top:30px;
    font-size:22px;
}
#list-of-events h5{
    text-transform: uppercase;
    font-weight: 700;
    margin-top:3px;
    margin-bottom:8px;
    font-size:18px;
}

#lettertowikipedia h1 {
    font-size: 35px;
}

#lettertowikipedia h3 {
    text-transform: uppercase;
    margin-bottom:25px;
    margin-top:60px;
}

#lettertowikipedia p {
    margin-bottom:20px;
    line-height: 1.6;
}

#lettertowikipedia .inline-image {
    float:right; 
    font-size:14px;
    padding-right:0;
}

/* ==========================================================================
   Scorecard
   ==========================================================================*/

#scorecard-container{
    margin-top:30px;
    font-size:18px;
}

#scorecard-container #byline {
    font-size:16px;
    font-weight:600;
    margin-bottom:20px;
}

#scorecard-container h1 {
    margin-bottom: 30px;
    font-size:45px;
    font-weight:600;
}
#scorecard-container h3 {
    font-weight:bold;
    line-height:1.4;
    font-size:20px;
}
#scorecard-container ul {
    padding-left:0;
    font-size:15px;
}
#scorecard-container ul li {
    list-style:none;
}
#scorecard-container .align-right {
    float:right;
}

@media (min-width: 630px) {
    .banner-signup-form input.form-control {
        display: inline-block;
        width:200px;
    }

    .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    }
}
@media (max-width: 629px) {
    .banner-signup-form input.form-control {
        margin:0 auto;
    }
    .form-inline .form-group {
        margin-bottom:10px;
    }
}

@media (max-width: 600px) {
  #socfooter.sharecenter a {
    margin-right: 15px;
  }
}

.sicon {
    float: left;
    width:54px;
    height:54px;
    background-color:black;
    background-image:url('../img/social-icons.png');
    }

   #ss6{
        background-position:100% 0 ;
    }
    #ss6:hover{
        background-position:100% 100% ;
    }

    #stmb{
        background-position:90% 0 ;
    }
    #stmb:hover{
        background-position:90% 100% ;
    }

    #sli{
        background-position:80% 0 ;
    }
    #sli:hover{
        background-position:80% 100% ;
    }

    #sfb{
        background-position:70% 0 ;
    }
    #sfb {
    border-bottom:0px solid #FFFFFF;
    transition:0.2s ease-out all;
    opacity:1;
}

#sfb:hover {
    background-position:70% 0%;
    border-bottom:2px solid #43C0E1;
    transition:0.15s ease-in all;
    opacity:1;
}
    #sbh{
        background-position:60% 0 ;
    }
    #sbh:hover{
        background-position:60% 100% ;
    }

        #stwit{
        background-position:50% 0 ;
    }

    #stwit {
    border-bottom:0px solid #FFFFFF;
    transition:0.2s ease-out all;
    opacity:1;
}

#stwit:hover {
    background-position:50% 0%;
    border-bottom:2px solid #000;
    transition:0.15s ease-in all;
    opacity:1;
}

        #sem{
        background-position:40% 0 ;
    }
    #sem:hover{
        background-position:40% 100% ;
    }

      #srss{
        background-position:30% 0 ;
    }
    #srss:hover{
        background-position:30% 100% ;
    }

    #sgplus{
        background-position:20% 0 ;
    }
    #sgplus:hover{
      background-position:20% 0% ;
        border-bottom:2px solid #43C0E1;
    }

     #spin{
        background-position:0% 0 ;
    }
    #spin:hover{
        background-position:0% 100% ;
    }

@media (min-width: 767px) {
    .jumbotron{
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 767px) and (max-width: 880px) {
    #signup-text {font-size: 18px; width:45%;}
    .email-box {width: 54%;}
}
@media (max-width: 767px) {
    .jumbotron #headergraphic {
        background: none;
    }
    #headergraphic h1 {
        text-shadow:0px 0px 2px rgba(0,0,0,.7);
        font-size: 34px;
    }

    #headergraphic h2 {
        font-size:15px;
    }
    #aaron {
        width:155px;
        margin-left: 10px;
    }
    #branding {
        background: #000 url('/img/header.jpg') center 0 no-repeat;
        background-size: auto;
        background-position:center 30%;
        padding:0px;
        padding-top:10px;
    }
    .row {
        margin:auto;
    }
    #logos-mobile {
        width:100%;
        max-width:100%;
        margin-top:20px;
        margin-bottom:20px;
    }
    #signup {
        height:auto;
        line-height:30px;
        font-size:14px;
        font-weight:bold;
    }
    #signup-text {
        text-align:center;
        width:100%;
    }
    .email-box { width: 100%;}
    #signup-text, .email-box {
        width:auto;
    }
    #signup .banner-signup {
        margin-left:0!important;
        width:197px;
    }
    .email-updates .email-input {
        width:194px;
        margin-bottom:5px;
    }
    #letter {
        padding-top: 16px;
    }
    .email-updates .btn {
        margin-bottom:5px;
    }
    .org-container {
        position: relative;
        top: 0px;

    }
    #signup label {
        display:inline-block;
        width: 90%;
        margin-bottom:6px;
    }
}


.lt-ie9 .centered {
    float:none!important;
}



/* =====================================*/
/* Mobile banner */
/* =====================================*/

.mobile-banner.visible-xs {
  margin-top:5px;
  height: 100%;
}
.mobile-banner img {
  height: 89px;
  margin: 0 auto;
  margin-bottom:10px;
}

/* =====================================*/
/* CSS Sprite */
/* =====================================*/
.i {
    background-image: url('imgs/image.png');
    background-repeat: no-repeat;
    display: block;
}
.i-email {
    width: 172px;
    height: 19px;
    background-position: -1px -25px;
    margin-top:13px;
}
.i-call {
    width: 144px;
    height: 22px;
    background-position: -1px -1px;
    margin-top:30px;
}
.i-logo {
    width: 279px;
    height: 30px;
    background-position: -1px -46px;
    margin-top:10px;
}

/* =====================================*/
/* Left side of banner */
/* =====================================*/

.leftside, .rightside {
    padding:0;
}

.leftsidecontainer {
    width: 84.75%;
    margin: 20px auto 0 auto;
    margin-left: 9.5%;
    margin-right: 5.75%;
}

.scrolling-banner-text {
    color: #fff;
    font-size:20px;
    line-height:1.1;
    width: 100%;
    text-align:center;
    height: 85px;
  position:relative;
}
.scrolling-banner-text div {
  position: absolute;
  bottom:0;
}
.scrolling-banner-text span.fact {
  display:inline-block;
  font-weight: 700;
  font-style: italic;
  font-size:13px;
  background-color: #F2C45A;
  color: #000;
  padding: 5px 7px 5px 8px;
  position: relative;
  bottom: 2px;
  margin-right: 4px;
  line-height: 1em;
  }
.scrolling-banner-text span.fact:hover {
  background-color: #262626;
  color: #F2C45A;
}

@media (max-width: 900px){
    .scrolling-banner-text {
    }
}

.scrolling-banner-text a {
    color: #f2c45a;
}
.leftsidecontainer .divider {
    background: #fff;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    height: 1px;
}
.leftsidecontainer .divider div {
  height: 100%;
  width: 0;
  background: #F2C45A;
  z-index:100;
}
.leftsidecontainer .logotext {
    margin-top:10px;
}

/* =====================================*/
/* Right side of banner */
/* =====================================*/

.rightsidecontainer {
  margin: 0 50px 0 33px;
}

.rightsidecontainer h2 {
  font-size:20px;
  font-weight:900;
  text-transform: uppercase;
  letter-spacing: .5px;
  color:#f2c45a;
  margin: 15px 0 0 0;
}

.rightsidecontainer h3 {
  font-size:14px;
  font-weight:900;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:white;
  margin:0;   
}

.rightsidecontainer ul {
  padding-left:15px;
}

.rightsidecontainer li {
  font-family: "open sans", sans-serif;
  font-size:12px;
  color:white;
  margin-bottom:5px;
}

@media (min-width: 768px) and (max-width: 979px) {
 .rightsidecontainer {
    margin: 0 25px 0 15px;
  } 
}

@media (min-width: 979px) {
  .rightsidecontainer h2 {
    font-size:25px;
    font-weight:900;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
  }
  .rightsidecontainer h3 {
    font-size:17px;
    letter-spacing:1px;
    text-align: center;
  }
}

/* =====================================*/
/* Call and email forms */
/* =====================================*/
.phone-container, .email-container, .calls-counter, .emails-counter {
    width: 35.85%;
    float:left;
}
.phone-container, .calls-counter {
    margin-right: 9.43%;
    margin-left:9.43%;
}
@media (max-width: 900px){
    .phone-container, .calls-counter {
        margin-left: 3%;
        margin-right: 5%;
    }
    .phone-container, .email-container, .calls-counter, .emails-counter {
        width: 42.5%;
    }
}
@media (max-width: 800px){
    .rightside.top {
      position: relative;
      top: -7px;
    }
  }
.call-form, .email-form {
  margin-top: 50px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #9e9e9e;
    font-style:italic;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    line-height:23px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #9e9e9e !important;
    font-style:italic !important;
    font-weight: 500 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #9e9e9e !important;
    font-style:italic !important;
    font-weight: 500 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #9e9e9e !important;
    font-style:italic !important;
    font-weight: 500 !important;
}
.call-form .form-group,
.email-form .form-group{
  margin-bottom: 0;
}
.call-form label,
.email-form label {
  color: #fff;
  display: block;
  text-align: justify !important;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 0 !important;
  height: 54px;
  position:relative;
}
.call-form label img,
.email-form label img {
    position:absolute;
    bottom:5px;
}

.call-form input.form-control,
.email-form input.form-control,
.international input  {
  margin-top: 8px;
  border-radius: 0 !important;
  height: 50px;
}
@media (max-width: 900px){
   .form-control {
    font-size: 13px;
    }
    .call-form label img,
    .email-form label img {
        position:absolute;
        bottom:5px;
    }
}
.call-form input[type="submit"],
.email-form input[type="submit"],
.international input[type="submit"] {
line-height: 26px;
height: 29px;
width: 100%;
text-transform: uppercase;
text-align: center;
background-color: #F2C45A;
font-weight: 700;
border: 0;
margin-top:5px;
letter-spacing: 1px;
font-size:12px;
    -webkit-font-smoothing: antialiased;
}

.call-form input[type="submit"]:hover,
.email-form input[type="submit"]:hover,
.international input[type="submit"]:hover  {
  background-color: #262626;
  color: #F2C45A;
}

/* 
    Call Only
*/

.phone-only-container {
    padding: 0 20px;
}

.phone-only-container input {
    padding-left:10px;
}

.phone-only-container .call-form {
    margin-top:60px;
}

.email-instead {
    text-align:right;
    padding-top:15px;
}
.twilio-container {
  width: 100%;
  max-width: 190px;
  margin: 0 auto;
}
.twilio-poweredby, .twilio-privacy {
    margin-top:6px;
    opacity: .6;
      margin-bottom:3px;
}
.twilio-poweredby {
  width: 60%;
}
.twilio-privacy {
  width: 40%;
}
.twilio-privacy:hover, .twilio-poweredby:hover {
    opacity:.8;
}

.phone-only-container input[type="submit"] {
    font-style: italic;
    font-size:16px;
    padding:5px 0 0 0;
    height:30px;
    margin-top:7px;
    letter-spacing: 1px;
    width: 200px;
}

.phone-only-container a {
    font-size:12px;
    font-weight: bold;
}

@media (max-width:800px) {
    .phone-only-container a {
        font-size:11px;
    }
}


.email-icon {
    padding-right:6px;
    vertical-align: middle;
}

@media (max-width:850px) {
    .email-icon {
        display:none;
    }
}

.phone-only-container a:hover {
    color:white;
    text-decoration: none;
}

.full-input {
    width:100%;
}



/*
    Footer
*/

.footer .leftsidecontainer {
  margin: 0 auto;
  margin-left: 9.5%;
  margin-right: 5.7%;
}
.footer .rightsidecontainer {
  margin-right: 9.4%;
}

.footer-wrapper {
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
  height: 50px;
  background: #262626;
}

.calls-counter, .emails-counter, .footer-left  {
  line-height: 50px;
  height: 40px;
  color: #efefef;
  letter-spacing: 1px;
  font-weight: normal;
}



.footer-left, .footer-left a {
  font-weight: 700;
  color: #5C5C5C;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size:14px;
  -webkit-font-smoothing: subpixel-antialiased;
}
.footer-left a:hover {
  color: #F2C45A;
  text-decoration: none;
}
.footer-left span {
  display: inline-block;
  margin: 0 15px;
}
#call-count, #email-count {
  color:white;
  font-weight:500;
}
.calls-counter, .emails-counter {
  font-weight: 700;
}
#banner-container {
    height: 300px;
}

@media (max-width: 900px){
  .calls-counter, .emails-counter {
    font-size:13px;
    letter-spacing:0.5px;
  }

}

/* See http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/#Height if we start having problems*/
.abs-centered {
    margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
}
.org-logo-slider {
    display: none;
}
@media (max-height: 60px) {
    .footer-left {
        display: none;
    }
    .org-logo-slider {
        display: block;
    }
}
.placeholder {
    color: #ccc;
}

/* =====================================*/
/* =====================================*/
/* International banner */
/* =====================================*/
/* ==============================d=======*/

.nandp-container {
  margin-right: 9.5%;
  margin-left: 3%;
  text-align:center;
  margin-top:46px;
}
.international .form-group.inline {
  width: 32%;
  display:inline-block;
  float:left;
  margin-right:2%;
  margin-bottom: 7px;
}
.international .form-group.inline.last {
  margin-right:0;
}
.international select {
  margin-top:9px;
}
.international input[type="text"] {
  height: 35px;
}
.international input[type="submit"] {
  font-size:20px;
  height:35px;
  padding-top:5px;
  margin-top:0px;
}
.international h3 {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  font-family: "brandon_grotesque";
  margin-top:12px;
  line-height: 1.3;
  margin-bottom: 5px;
}

.international h3 a:hover {
  color: #a27c23;
  text-decoration: none;
  }
.international .int-pencil {
  width:35px;
}
.international .checkbox {
  float:left;
  margin-top: 0;
  margin-bottom:7px;
}
.international .checkbox label {
  color: #fff;
}
.international .checkbox input {
  height: 14px;
  width: 14px;
  margin-top: 3px;
}
.footer .signature-counter {
  margin-left: 3%;
}
.int-share img {
  width: 32%;
  margin-right: 1.25%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  margin-top:5px;
}
p#readmore {
    margin-top:30px;

}
span#readmore {
    text-transform: uppercase;
    font-size:20px;
    cursor: pointer;
    cursor: hand;
}
span#readmore:hover {
    color: #fff;
}
.int-share img:hover {
opacity: 0.8;
}

@media (max-width: 991px){
  .nandp-container {
  margin-left: 9.5%; 
  }
  .international .checkbox label {
    font-size:16px;
    }
  .international .form-group.inline {
    margin-bottom:10px;
  }
  .international h3 {
    font-size:20px;
  }
  .international input[type="submit"] {
    margin-top:5px;
  }
}


/* ==========================================================================
   Newsite
   ==========================================================================*/

a {
    text-decoration: underline;
    color: #444444;
}
a:hover {
    color: #000000;

}
.jumbotron#newsite .container {
    width
}
.just-the-facts {
    margin-top:50px;
}
.just-the-facts img {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.fact {
    font-size: 19px;
    text-align: center;
    line-height:1.6;
}
.fact strong{
}
.full-width.fact {
    margin-top:40px;
    text-align: left;
}
.half-width.fact {
    text-align: left;
    margin-top:40px;
}
.fact .fact-source {
    font-style: italic;
    font-size: 20px;
    color: #777777;
}
.full-width.fact .fact-source {
    margin-left:20px;
    font-size:14px;
    margin-top:10px;
}
.fact-source a {
    color: #777777;
    text-decoration:underline;
}
.fact-source a:hover {
    color: #333333;
}
.additional-resources {
    border-top:3px solid #000;
    border-bottom:3px solid #000;
    padding: 10px 0;
    font-size: 20px;
    font-family: 'brandon_grotesque';
    font-weight: 700;
    text-align: center;
    margin-top:40px;
    margin-bottom:40px;
}
.additional-resources a {
    display: inline-block;
    margin: 0 15px;
    font-family: "Open Sans";
}

div.what-can-we-do {
    background: #000;
}
img.what-can-we-do {
    margin-bottom: 30px;
    max-width: 450px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.what-can-we-do .sub {
    font-size: 25px;
    line-height: 1.2;
    font-family: 'brandon_grotesque';
    font-weight: 700;
    margin-top: 40px;
    color: #fff;
    margin-bottom:60px;
}
.what-can-we-do .sub span {
    color: #f2c45a;
}
.what-can-we-do .lawbox {
    background: #fff;
    margin-bottom:80px;
}
.what-can-we-do h4 {
    text-align: center;
    font-family: 'brandon_grotesque';
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 20px;
}
.sub ul {
    margin-top:20px;
    margin-bottom:20px;
    margin-left:30px;
}
.what-can-we-do .freedomact h4 {
    color: #1ca70d;
}
.what-can-we-do .fisaact h4 {
    color: #d60d0d;
}
.what-can-we-do ul {
    padding-left: 25px;
}
.what-can-we-do ul li {
    margin-bottom:10px;
}


@media (min-width: 768px) {
    .what-can-we-do .col-sm-6 {
        width: 48%;
    }
    .what-can-we-do .col-sm-6.freedomact {
        margin-right: 4%;
    }
}

@media (min-width: 768px) {
    .container {
    width: 740px;
    }
}

@media (min-width: 992px) {
    .container {
    width: 860px;
    }
}
@media (min-width: 1200px) {
    .container {
    width: 1020px;
    }
}