/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
.centered {
        float: none;
        margin: 0 auto;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
  -webkit-font-smoothing:antialiased;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans', sans-serif;
}
.navbar {
	margin-bottom:0;
}
.navbar-inverse {
	background-color: #000;
}

.jumbotron {
	background-color: #000;
	padding-top:0px;
	text-align:center;
	padding-bottom:30px;
}
.jumbotron h1 {
	font-size: 53px;
	text-align:center;
	font-weight:bold;
	color: #43c0e1;
	margin-top: 8px;
	margin-bottom:12px;
	z-index:100;
	position:relative;
}
.jumbotron h2 {
	text-transform:uppercase;
	font-weight: 600;
	color: #fff;
	letter-spacing: 2px;
	font-size:28px;
	margin-top: 0px;
	margin-bottom:0px;
	z-index:100;
	position:relative;
}
.jumbotron #headergraphic {
	background: url('/img/header.jpg') center bottom no-repeat ;
	height:320px;
}
.jumbotron #logos {
	margin-top:10px;
}
.email-box {
  position: relative;
}
.org-container {
    position: absolute;
    top: 69px; 
    left: 20px; 
    font-size: 13px;
    font-family: Arial;
}
.org-container input {
    margin-top: 2px;
    float: left;
    margin-left: 0px;
    margin-right: 7px;
}
.org-container label {
    font-weight: normal;
    line-height: normal;
    float: left;
}
#signup {
	line-height: 92px; 
	color: #fff;
	font-size: 24px; 
	margin: 0 auto; 
	float: none;
	background: #01C278;

	height: 92px;
	padding:0;
	width:100%;
	text-align:center;
	font-weight:400;
	letter-spacing:2px;
    color: #fff; 
}
#signupform {
	line-height: 92px;
	color: #fff;
	font-size: 24px; 
	margin: 0 auto; 
	float: none;
}
#letter {
	width:100%;
	padding:32px 0 44px 0;
	background: url('/img/sopa-bg.jpg') center top no-repeat ;
	background-size: cover;
	font-size:19px;
}
#letter h2 {
	font-weight:bold;
	color: #0682a3;
	font-size:28px;
	margin-bottom:20px;
}
#letter p {
	font-weight: 600;
}
#aaron {
	float: right; 
	margin: 0 0 40px 40px;
}
#take-part {
	background: url('/img/takepart.png') no-repeat;
	height:150px;
	background-size: 100%;
}
#take-part h2 {
	font-size:30px;
	font-weight:600;
	text-align:center;
	color: #fff;
	text-transform: uppercase;
	padding-top:30px;
	margin-top:0;
}
#take-part h2 span {
	font-style: italic;
}

#actions #intro {
	font-size: 19px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom:40px;
}

section.step h4 {
	display: block;
	text-align: center;
	width: 70%;
	margin: auto;
	border-bottom: 4px solid #0ba5c2;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.banner-signup {
	width: 230px;
	display: inline-block;
	margin-right: 10px;
}

.domain-input {
    width: 230px;
}
.banner-signup-form {
	margin: auto;	
}
footer p {
	text-align: right;
}

@media (max-width: 1000px) {
  .floating-share {
    display: none;
  }
}

.sharecenter {
	height: 112px;
	margin-top: 80px;
}

.social-count {
    display: inline;
    position: relative;
}

.sticky-signup .email-updates {
    width: 100%;
    z-index: 10;
}
.social-count:after {
    background: #efefef;
    border: 1px solid #ccc;
    border-radius: 1px;
    top: -39px;
    color: #444;
    content: attr(count);
    display: block;
    left: 0px;

    width: 54px;
    padding: 5px;
    text-align: center;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;
}

.social-count:before {
    border: solid;
    border: 1px solid #ccc;
    border-color: #111 transparent;
    border-color: #ccc transparent;
    border-width: .4em .4em 0 .4em;
    top: -6px;
    content: "";
    display: block;
    left: 22px;
    position: absolute;
    z-index: 99;
}
#socfooter a {

    float: left;
    margin:4px;
    width:54px;
    margin:4px;
    height:54px;
    z-index: 0;
}
.floating-share {
	position: fixed;
	width: 50px;
	height: 300px;
	left: 15px;
	top: 100px;
}
.floating-share a {
	margin-bottom: 50px;
}
#socfooter.sharecenter a {
    margin-right: 107px;
}

#privacy {
	margin-top:50px;
}

footer {
	font-size:14px;
	background: #eee;
	padding:50px;
	margin-top:100px;
}

@media (max-width: 600px) {
  #socfooter.sharecenter a {
    margin-right: 15px;
  }
}
#socfooter div.sicon {
    float: left;
    width:54px;
    height:54px;
    background-color:black;
    background-image:url('../img/social-icons.png');
    
    
    }
    
   #ss6{
        background-position:100% 0 ;
    }
    #ss6:hover{
        background-position:100% 100% ;
    }
   
   
    
    #stmb{
        background-position:90% 0 ;
    }
    #stmb:hover{
        background-position:90% 100% ;
    }
    
    #sli{
        background-position:80% 0 ;
    }
    #sli:hover{
        background-position:80% 100% ;
    }
    
    #sfb{
        background-position:70% 0 ;
    }
    #sfb {
    border-bottom:0px solid #FFFFFF;
    transition:0.2s ease-out all;
    opacity:0.8;
}

#sfb:hover {
    background-position:70% 0%;
    border-bottom:2px solid #343437;
    transition:0.15s ease-in all;
    opacity:1;
}
    #sbh{
        background-position:60% 0 ;
    }
    #sbh:hover{
        background-position:60% 100% ;
    }
    
        #stwit{
        background-position:50% 0 ;
    }
    
    #stwit {
    border-bottom:0px solid #FFFFFF;
    transition:0.2s ease-out all;
    opacity:0.8;
}

#stwit:hover {
    background-position:50% 0%;
    border-bottom:2px solid #343437;
    transition:0.15s ease-in all;
    opacity:1;
}
    
        #sem{
        background-position:40% 0 ;
    }
    #sem:hover{
        background-position:40% 100% ;
    }
    
        #srss{
        background-position:30% 0 ;
    }
    #srss:hover{
        background-position:30% 100% ;
    }
    
        #sgplus{        background-position:20% 0 ;
    }
    #sgplus:hover{
        background-position:20% 100% ;
    }
    
        #spin{
        background-position:0% 0 ;
    }
    #spin:hover{
        background-position:0% 100% ;
    }

@media (max-width: 767px) {
    .jumbotron #headergraphic {
        background: none;
    }
    #headergraphic h1 {
        text-shadow:0px 0px 2px rgba(0,0,0,.7);
        line-height:60px;
    }
    #branding {
        background: #000 url('/img/header.jpg') center -50px no-repeat;
        background-size:cover;
    }
    .row {
        margin:auto;
    }
    #logos {
        max-width:100%;
    }
    #signup {
        height:auto;
        line-height:50px;
        font-size:18px;
    }
    #signup .banner-signup {
        margin-left:0!important;
        width:197px;
    }
    #take-part {
        background-image:none;
    }
    #take-part h2 {
        background-color:#169dc3;
        position:relative;
        padding-bottom:20px;
    }
    #take-part h2:after {
        background: url('/img/takepart.png') no-repeat;
        background-size:auto 50px;
        background-position: center;
        display:block;
        content:'';
        width:100%;
        height:50px;
        position:absolute;
        top:100%;
        margin-top: -13px;
        z-index:-1;
    }
}
