/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing:antialiased;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans', sans-serif;
}

.jumbotron {
	background-color: #000;
	padding-top:40px;
	text-align:center;
}
.jumbotron h1 {
	font-size: 53px;
	text-align:center;
	font-weight:bold;
	color: #43c0e1;
	margin-top: 8px;
	margin-bottom:12px;
	z-index:100;
	position:relative;
}
.jumbotron h2 {
	text-transform:uppercase;
	font-weight: 600;
	color: #fff;
	letter-spacing: 2px;
	font-size:28px;
	margin-top: 0px;
	margin-bottom:0px;
	z-index:100;
	position:relative;
}
.jumbotron #headergraphic {
	height:300px;
	position:relative;
	top:-70px;
}
.jumbotron #headergraphic img {
	z-index:1;
}

section.step h4 {
	display: block;
	text-align: center;
	width: 70%;
	margin: auto;
	border-bottom: 4px solid #0ba5c2;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.banner-signup {
	width: 200px;
	display: inline-block;
	margin-right: 10px;
}
.banner-signup-form {
	width: 284px;
	margin: auto;	
}
footer p {
	text-align: right;
}




