/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
.centered {
        float: none;
        margin: 0 auto 0 auto;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
  -webkit-font-smoothing:antialiased;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    text-transform: capitalize;
    margin-bottom:0;
}
.navbar-inverse {
    background-color: #000;
}

.jumbotron {
    background-color: #000;
    padding-top:0px;
    text-align:center;
    padding-bottom:30px;
}
.jumbotron .container {
    margin: 0 auto;
    /*This width needs to be the width of logos.png + 30px*/
    max-width: 804px;
}
.jumbotron h1 {
    font-size: 53px;
    text-align:center;
    font-weight:bold;
    color: #43c0e1;
    margin-top: 8px;
    margin-bottom:12px;
    z-index:100;
    position:relative;
}
.jumbotron h2 {
    text-transform:uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
    font-size:28px;
    margin-top: 0px;
    margin-bottom:0px;
    z-index:100;
    position:relative;
}
.jumbotron #headergraphic {
    background: url('/img/header.jpg') center bottom no-repeat ;
    height:320px;
}
.jumbotron #logos {
    margin-top:10px;
    margin: 10px auto 0 auto;
}
/* ==========================================================================
   Counter
   ==========================================================================*/
 
#subscribers-count {
     color: #43c0e1;
     font-size: 0.9em;
     font-weight: 600;
     margin: 34px 0 12px;
}
  .odometer {
     font-size: 1.1em;
     margin: -8px 10px 0 10px;
 }

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-car.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  }

#seconds-left.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, #seconds-left.odometer.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}

#seconds-left.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, #seconds-left.odometer.odometer-theme-car.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  }
    
.odometer {
    margin-right: 3px;
    margin-left: 3px;
    margin-top: -3px;
}

@media (max-width: 991px) {
    #subscribers-count {
        font-size:0.85em;
    }
}

@media (max-width: 440px) {
    #subscribers-count {
        font-size:0.9em;
    }
}

 
/* ==========================================================================
   Signup banner
   ==========================================================================*/

#signup {
    line-height: 99px; 
    color: #fff;
    font-size: 24px; 
    margin: 0 auto; 
    float: none;
    background: #cc0000;
    height: 99px;
    padding:0;
    width:100%;
    text-align:center;
    font-weight:400;
    letter-spacing:1px;
    color: #fff; 
}
#signup label {
    letter-spacing:0;
}

.nosidemargin{
    margin-left:0;
    margin-right:0;
}
#signupform {
    color: #fff;
    font-size: 24px; 
    margin: 0 auto; 
    float: none;
}
#signup-text {
    display:inline-block;
    width:52%;
    text-align:right;
}
.email-box {
  position: relative;
  width: 47%;
  display: inline-block;
  text-align: left
}
.email-updates.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100000000;
}
.email-updates .email-input {
    width: 230px;
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px; 
    margin-bottom: 17px;
}
.email-updates .btn {
    margin-bottom:17px;
}
.org-container {
    position: absolute;
    top: 69px; 
    font-size: 13px;
    font-family: Arial;
}
.org-container a, .org-container a:visited {
    color: #fff;
}
.org-container input {
    margin-top: 2px;
    float: left;
    margin-left: 0px;
    margin-right: 7px;
}
.org-container label {
    font-weight: normal;
    line-height: normal;
    float: left;
}
#letter, #whatwewilldo {
    width:100%;
    padding:32px 0 44px 0;
    background-size: cover;
    font-size:19px;
}
#whatwewilldo {
    font-size:16px;
}
#letter {
    background: url('/img/sopa-bg.jpg') center top no-repeat ;
    border-bottom: 2px solid #169DC3;
}
#letter .row, #whatwewilldo .row {
    margin: 0;
}
#letter h2, #whatwewilldo h2 {
    font-weight:bold;
    color: #0682a3;
    font-size:28px;
    margin-bottom:20px;
}
#letter p, #whatwewilldo p {
    font-weight: 600;
}
#letter p span, #whatwewilldo p span {
    font-weight: bold;
}
p#intro span {
    font-weight: bold;
}
#aaron {
    float: right; 
    margin: 0 0 40px 40px;
}
#take-part {
    background: url('/img/takepart.png') no-repeat;
    height:150px;
    background-size: 100%;
}
#take-part h2 {
    font-size:30px;
    font-weight:600;
    text-align:center;
    color: #fff;
    text-transform: uppercase;
    padding-top:30px;
    margin-top:0;
}
#take-part h2 span {
    font-style: italic;
}
.smalltext {
    font-size:12px;
}

#actions #intro {
    font-size: 19px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom:30px;
}

div.step h4 {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
    border-bottom: 4px solid #0ba5c2;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 30px;
    margin-top: 50px;
        font-size:1.7em;
}

div.step p {
    font-size:.95em;
}
.step.row {
    margin-bottom:15px;
}
.step img {
    max-width:100%;
}
.step .morefb {
    margin-top:35px; 
    margin-bottom:10px
}
.step h5 {
    text-transform: uppercase;
    font-weight:bold;
    font-size:16px;
    text-align:center;
    margin-top:0;
}
#twibbon:hover {
    opacity: 0.7;
}
#fb-share-graphics div {
    margin-bottom:15px;
}
#fb-share-graphics img:hover {
    opacity:0.8;
}
#fb-share-graphics img {
    margin-left: auto;
    margin-right: auto;
}
.banner-signup-form {
    margin: auto;
    text-align:center;
}
footer p {
    text-align: right;
}

@media (max-width: 1000px) {
  .floating-share {
    display: none;
  }
}

#headergraphic > a:hover {
    text-decoration: none;
    color: inherit;
}

.sharecenter {
    height: 88px;
    margin-top: 80px;
}

.social-count {
    display: inline-block;
    position: relative;
}

.social-link-container {
    margin-top:20px;
    text-align:center;
}

.sticky-signup .email-updates {
    width: 100%;
    z-index: 10;
}
.email-updates .row {
    margin:0;
}
.social-count:after {
    background: #efefef;
    border: 1px solid #ccc;
    border-radius: 1px;
    top: -39px;
    color: #444;
    content: attr(count);
    display: block;
    left: 0px;

    width: 54px;
    padding: 5px;
    text-align: center;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
}

.social-count:before {
    border: solid;
    border: 1px solid #ccc;
    border-color: #111 transparent;
    border-color: #ccc transparent;
    border-width: .4em .4em 0 .4em;
    top: -6px;
    content: "";
    display: block;
    left: 22px;
    position: absolute;
}
#socfooter a {
    float: left;
    margin:4px;
    width:54px;
    margin:4px;
    height:54px;
    z-index: 0;
}
#socbar.sharecenter {
    margin-top:50px;
}
.floating-share {
    position: fixed;
    width: 50px;
    height: 300px;
    left: 15px;
    top: 100px;
    z-index: 100;
}
.floating-share a {
    margin-bottom: 50px;
}
#socfooter.sharecenter a {
    margin-right: 107px;
}

#privacy {
    margin-top:50px;
}

#take-part {
    background-image:none;
}
#take-part h2 {
    background-color:#169dc3;
    position:relative;
    z-index: -1;
    padding-bottom:20px;
}
#take-part h2:after {
    background: url('/img/takepart.png') no-repeat;
    background-size:auto 50px;
    background-position: center;
    display:block;
    content:'';
    width:100%;
    height:50px;
    position:absolute;
    top:100%;
    margin-top: -13px;
    z-index:-2;
}

.banner-signup-form input.btn {
    background: #CC0000;
    color: #fff;
}

.banner-signup-form input.btn:hover {
    background: #A00E0E;
}
.banner-signup-form input.form-control {
    width:240px;
}
.step #greybox {
    background-color: #DDF8FF;
    padding: 15px;
    margin-top: 17px;
    border-top: 2px solid #2FC8F1;
    border-bottom: 2px solid #2FC8F1;
}
div.step h4.reddit-title {
    border-bottom:none;
    text-align:left;
    font-size:1.2em;
    word-wrap:break-word;
}
.rembeddit {
    line-height:16px;
}
footer {
    font-size:14px;
    background: #eee;
    padding:50px;
    margin-top:100px;
}
input.btn-lg, .input-lg {border-radius:0;}

/* ==========================================================================
   Video page
   ==========================================================================*/
.jumbotron.video {
    padding-bottom: 20px;
}
.jumbotron.video #headergraphic {
    height: auto;
    background-image: none;
}
.video#branding {
    background-image:none;
}

@media (max-width: 600px) {
    #video {
        padding-top:20px;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; 
    overflow: hidden;
}
#video-preload {
    cursor:pointer;
    cursor:hand;
}
#video-preload:hover {
    opacity:0.8;
}
#video #logos {
    margin:0 auto;
    margin-top: 30px;
}

.video-container iframe,
.video-container object,
.video-container embed, .video-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#video {
    background-color: #000;
    padding-bottom:30px;
}
#social-vid {
    text-align:center;
    margin-top:15px;
}
#social-vid img {
    margin-right:10px;

    transition:0.1s ease-in all;
}
#social-vid img:hover {
    opacity:0.8;
}

/* ==========================================================================
   Scorecard
   ==========================================================================*/

#scorecard-container{
    margin-top:30px;
    font-size:18px;
}

#scorecard-container #byline {
    font-size:16px;
    font-weight:600;
    margin-bottom:20px;
}

#scorecard-container h1 {
    margin-bottom: 30px;
    font-size:45px;
    font-weight:600;
}
#scorecard-container h3 {
    font-weight:bold;
    line-height:1.4;
    font-size:20px;
}
#scorecard-container ul {
    padding-left:0;
    font-size:15px;
}
#scorecard-container ul li {
    list-style:none;
}
#scorecard-container .align-right {
    float:right;
}

@media (min-width: 630px) {
    .banner-signup-form input.form-control {
        display: inline-block;
        width:200px;
    }

    .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    }
}
@media (max-width: 629px) {
    .banner-signup-form input.form-control {
        margin:0 auto;
    }
    .form-inline .form-group {
        margin-bottom:10px;
    }
}

@media (max-width: 600px) {
  #socfooter.sharecenter a {
    margin-right: 15px;
  }
}

.sicon {
    float: left;
    width:54px;
    height:54px;
    background-color:black;
    background-image:url('../img/social-icons.png');
    }
    
   #ss6{
        background-position:100% 0 ;
    }
    #ss6:hover{
        background-position:100% 100% ;
    }
   
    #stmb{
        background-position:90% 0 ;
    }
    #stmb:hover{
        background-position:90% 100% ;
    }
    
    #sli{
        background-position:80% 0 ;
    }
    #sli:hover{
        background-position:80% 100% ;
    }
    
    #sfb{
        background-position:70% 0 ;
    }
    #sfb {
    border-bottom:0px solid #FFFFFF;
    transition:0.2s ease-out all;
    opacity:1;
}

#sfb:hover {
    background-position:70% 0%;
    border-bottom:2px solid #43C0E1;
    transition:0.15s ease-in all;
    opacity:1;
}
    #sbh{
        background-position:60% 0 ;
    }
    #sbh:hover{
        background-position:60% 100% ;
    }
    
        #stwit{
        background-position:50% 0 ;
    }
    
    #stwit {
    border-bottom:0px solid #FFFFFF;
    transition:0.2s ease-out all;
    opacity:1;
}

#stwit:hover {
    background-position:50% 0%;
    border-bottom:2px solid #000;
    transition:0.15s ease-in all;
    opacity:1;
}
    
        #sem{
        background-position:40% 0 ;
    }
    #sem:hover{
        background-position:40% 100% ;
    }
    
      #srss{
        background-position:30% 0 ;
    }
    #srss:hover{
        background-position:30% 100% ;
    }
    
    #sgplus{        
        background-position:20% 0 ;
    }
    #sgplus:hover{
      background-position:20% 0% ;
        border-bottom:2px solid #43C0E1;
    }
    
     #spin{
        background-position:0% 0 ;
    }
    #spin:hover{
        background-position:0% 100% ;
    }

@media (min-width: 767px) {
    .jumbotron{ 
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 767px) and (max-width: 880px) {
    #signup-text {font-size: 18px; width:45%;}
    .email-box {width: 54%;}
}
@media (max-width: 767px) {
    .jumbotron #headergraphic {
        background: none;
    }
    #headergraphic h1 {
        text-shadow:0px 0px 2px rgba(0,0,0,.7);
        font-size: 34px;
    }

    #headergraphic h2 {
        font-size:15px;
    }
    #aaron {
        width:155px;
        margin-left: 10px;
    }
    #branding {
        background: #000 url('/img/header.jpg') center 0 no-repeat;
        background-size: auto;
        background-position:center 30%;
        padding:0px;
        padding-top:10px;
    }
    .row {
        margin:auto;
    }
    #logos-mobile {
        width:100%;
        max-width:100%;
        margin-top:20px;
        margin-bottom:20px;
    }
    #signup {
        height:auto;
        line-height:30px;
        font-size:14px;
        font-weight:bold;
    }
    #signup-text {
        text-align:center;
        width:100%;
    }
    .email-box { width: 100%;}
    #signup-text, .email-box {
        width:auto;
    }
    #signup .banner-signup {
        margin-left:0!important;
        width:197px;
    }
    .email-updates .email-input {
        width:194px;
        margin-bottom:5px;
    }
    #letter {
        padding-top: 16px;
    }
    .email-updates .btn {
        margin-bottom:5px;
    }
    .org-container {
        position: relative;
        top: 0px;

    }
    #signup label {
        display:inline-block;
        width: 90%;
        margin-bottom:6px;
    }
}


.lt-ie9 .centered {
    float:none!important;
}
