html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background:transparent;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}h1{font-size:2em;margin:0.67em 0;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}pre{overflow:auto;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}input{line-height:normal;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}textarea{overflow:auto;}optgroup{font-weight:bold;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}

@import "compass/typography";
@import "compass/css3";
@import "compass/utilities";
@mixin animation($content) {
	@include experimental(animation, $content, -webkit, -moz, -o, -ms, official);
}
@mixin keyframes($name) {
@-webkit-keyframes #{$name} {
@content;
}
@-moz-keyframes #{$name} {
@content;
}
@-ms-keyframes #{$name} {
@content;
}
@keyframes #{$name} {
@content;
}
}

/////////////////
// Semantic.gs // for SCSS: http://sass-lang.com/
/////////////////

// Defaults which you can freely override
$column-width: 60px;
$gutter-width: 20px;
$columns: 12;

// Utility function — you should never need to modify this
@function gridsystem-width($columns:$columns) {
	@return ($column-width * $columns) + ($gutter-width * $columns);
}

// Set $total-width to 100% for a fluid layout
$total-width: 100%;

// Uncomment these two lines and the star-hack width/margin lines below to enable sub-pixel fix for IE6 & 7. See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html
// $min-width: 999999;
// $correction: 0.5 / $min-width * 100;

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
	*zoom:1;

	&:before,
	&:after {
		content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}


//////////
// GRID //
//////////

body {
	width: 100%;
	@include clearfix();
}

@mixin row($columns:$columns) {
	display: block;
	width: $total-width*(($gutter-width + gridsystem-width($columns))/gridsystem-width($columns));
	margin: 0 $total-width*((($gutter-width*.5)/gridsystem-width($columns))*-1);
	// *width: $total-width*(($gutter-width + gridsystem-width($columns))/gridsystem-width($columns))-$correction;
	// *margin: 0 $total-width*((($gutter-width*.5)/gridsystem-width($columns))*-1)-$correction;
	@include clearfix();
}
@mixin column($x,$columns:$columns) {
	display: inline;
	float: left;
	width: $total-width*(((($gutter-width+$column-width)*$x)-$gutter-width) / gridsystem-width($columns));
	margin: 0 $total-width*(($gutter-width*.5)/gridsystem-width($columns));
	// *width: $total-width*(((($gutter-width+$column-width)*$x)-$gutter-width) / gridsystem-width($columns))-$correction;
	// *margin: 0 $total-width*(($gutter-width*.5)/gridsystem-width($columns))-$correction;
}
@mixin push($offset:1) {
	margin-left: $total-width*((($gutter-width+$column-width)*$offset) / gridsystem-width($columns)) + $total-width*(($gutter-width*.5)/gridsystem-width($columns));
}
@mixin pull($offset:1) {
	margin-right: $total-width*((($gutter-width+$column-width)*$offset) / gridsystem-width($columns)) + $total-width*(($gutter-width*.5)/gridsystem-width($columns));
}

@mixin center {
	margin: 0 auto;
	margin-bottom: 5em;
	float: none;
	display: block;
	margin-top: -2em;
	}

@mixin transition($elements:all,$secs:0.5s,$delay:0s) {
	-webkit-transition: $elements $secs ease-in-out $delay;
	-moz-transition: $elements $secs ease-in-out $delay;
	-ms-transition: $elements $secs ease-in-out $delay;
	-o-transition: $elements $secs ease-in-out $delay;
	transition: $elements $secs ease-in-out $delay;
	-webkit-transition-timing-function: cubic-bezier(0.590, 0.005, 0.000, 1.000); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.590, 0.005, 0.000, 1.000);
	   -moz-transition-timing-function: cubic-bezier(0.590, 0.005, 0.000, 1.000);
	    -ms-transition-timing-function: cubic-bezier(0.590, 0.005, 0.000, 1.000);
	     -o-transition-timing-function: cubic-bezier(0.590, 0.005, 0.000, 1.000);
	        transition-timing-function: cubic-bezier(0.590, 0.005, 0.000, 1.000); /* custom */
}
@mixin animation($content) {
  @include experimental(animation, $content, -webkit, -moz, -o, -ms, official);
}

@font-face {
    font-family: 'brandon_grotesque';
    src: url('../fonts/brandongrotesque-regular-webfont.eot');
    src: url('../fonts/brandongrotesque-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandongrotesque-regular-webfont.woff') format('woff'),
         url('../fonts/brandongrotesque-regular-webfont.ttf') format('truetype'),
         url('../fonts/brandongrotesque-regular-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandon_grotesque';
    src: url('../fonts/brandongrotesque-mediumitalic-webfont.eot');
    src: url('../fonts/brandongrotesque-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandongrotesque-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/brandongrotesque-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/brandongrotesque-mediumitalic-webfont.svg#brandon_grotesqueMdIt') format('svg');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'brandon_grotesque';
    src: url('../fonts/brandongrotesque-blackitalic-webfont.eot');
    src: url('../fonts/brandongrotesque-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandongrotesque-blackitalic-webfont.woff') format('woff'),
         url('../fonts/brandongrotesque-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/brandongrotesque-blackitalic-webfont.svg#brandon_grotesqueblack_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'brandon_grotesque';
    src: url('../fonts/brandontext-bold-webfont.eot');
    src: url('../fonts/brandontext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandontext-bold-webfont.woff') format('woff'),
         url('../fonts/brandontext-bold-webfont.ttf') format('truetype'),
         url('../fonts/brandontext-bold-webfont.svg#brandon_grotesqueblack') format('svg');
    font-weight: 700;
    font-style: normal;
}

$highlight: #F2C45A;

@mixin italic {
	text-transform: uppercase;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0.1em;
}

/* CSS START */
br.clear {
	clear: both;
	line-height: 0;
	height: 0px;
	width: 100%;
	display: block;
	overflow: hidden;
}
*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
	background: #FAFAFA;
	font: 16px/1.5em 'brandon_grotesque', Helvetica, Arial, sans-serif;
	color: #333;
}
a {
	color: darken($highlight,10%);
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
}
nav {
	ul {
		list-style-type: none;
		padding: 0;
		display: block;
		width: 100%;
		text-align: center;
		font-size: 0.8em;
		padding-top: 0.5em;
		li {
			display: inline;
			padding: 0 1em;
			@include italic;
			font-style: normal;
			font-weight: normal;
			a {
				opacity: 0.4;
				@include transition;
				color: #EEE;
				&:hover {
					opacity: 1;
					color: $highlight;
				}
			}
		}
	}
}
header {
	background: #111 url(bg-header.jpg) no-repeat center top;
	background-size: auto 100%;
	width: 100%;
	display: table;
	text-align: center;
	color: #EEE;
	.center {
		display: table-cell;
		vertical-align: middle;
	}
	h1 {
		margin: 2.5em auto;
		letter-spacing: 0.1em;
		font-size: 1.9em;
		line-height: 1.25em;
		text-transform: uppercase;
		strong {
			display: block;
			color: $highlight;
			font-size: 1.5em;
			line-height: 1.25em;
		}
	}
	h2 {
		@include italic;
		font-weight: normal;
		color: #888;
		margin-top: -0.5em;
		text-shadow: 0 0 10px #222, 0 0 10px #222;
	}
	.mobile {
		display: none;
		text-align: center;
	}
	figure {
		max-width: 768px;
		padding: 0 2em;
		margin: 0 auto;
		display: block;
		margin-top: 1em;
		img {
			width: 100%;
			height: auto;
			clear: both;
			&.logos-mobile {
				display: none;
			}
		}

	}

}
.form-container {
	width: 100%;
	border-top: 1px solid rgba(255,255,255,0.1);
	background: rgba(0,0,0,0.2);
	text-align: center;
	.container {
		@include clearfix;
		margin: 0 auto;
		max-width: 980px;
	}
	.form-footer {
		background: #222;
		padding: 0.8em 0;
		margin-top: 1.8em;
		font-size: 0.9em;
		text-align: left;
		@include italic;
		font-style: normal;
		color: #666;
		.container {
			max-width: 896px;
		}
		a {
			color: #666;
		}
		.important {
			color: #CCC;
		}
		.meta {
			@include column(6);
			margin: 0;
		}
		.calls-counter,.emails-counter {
			@include column(3);
			text-align: right;
			span {
				color: #CCC;
			}
		}
	}
}

form {
	@include column(6);
	&.nandp-form {
		@include column(12);
		text-align: left;
		label {
			margin-bottom: 0.5em;
			font-size: 0.8em;
			color: #CCC;
			@include italic;
		}
	}
	p {
		margin-top: 0.5em;
		margin-bottom: 0;
		color: #AAA;
	}
	label {
		display: block;
	}
	label img {
		margin-bottom: 0.5em;
	}
	input {
		width: 250px;
		background: #FFF;
		padding: 0.7em 0;
		line-height: 1.5em;
		text-indent: 1.1em;
		border: none;
		display: inline-block;
		color: #333;
		vertical-align: middle;
	}


	.twilio-container {
		padding-top: 0.5em;
		a {
			opacity: 0.5;
			@include transition(opacity);
			&:hover {
				opacity:1;
			}
		}
		img {
			width: auto;
			height: 18px;
		}
	}
	fieldset {
		@include column(4);
		padding: 0;
		border: none;
		text-align: left;
	}
	div.checkbox {
		@include column(12);
		padding-top: 1em;
		input {
			width: auto;
			margin-right: 1em;
			vertical-align: middle;
		}
	}
	div.int-submit {
		float: right;
		text-align: right;
	}
	select {
		width: 100%;
		color: #333;
	}
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #9e9e9e;
    font-style:italic;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    line-height:23px;
    font-size: 0.95em;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #9e9e9e !important;
    font-style:italic !important;
    font-weight: 500 !important;
    font-size: 0.95em!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #9e9e9e !important;
    font-style:italic !important;
    font-weight: 500 !important;
    font-size: 0.95em!important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #9e9e9e !important;
    font-style:italic !important;
    font-weight: 500 !important;
    font-size: 0.95em!important;
}
input#submit, .mobile a {
	background: $highlight;
	text-align: center;
	padding: 0.7em 1em;
	text-indent: 0em;
	width: auto;
	color: #333;
	@include italic;
}
.mobile a {
	padding: 0.5em 1em;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin-top:-2px;
	margin-bottom: -2px;
}



section, footer {
	padding: 6em 0;
	@include clearfix;
	div.container {
		max-width: 980px;
		margin: 0 auto;
		padding: 0 2em;
	}
	h2 {
		@include column(12);
		margin-top: 0;
		font-size: 2.25em;
		margin-bottom: 0.8em;
		span {
			border-top: 4px solid $highlight;
			padding-top: 1em;
			display: inline-block;
		}
	}
}

aside {
	@include column(12);
	@include italic;
	border-top: 4px solid #DDD;
	padding-top: 1em;
	color: #888;
	margin-top: 2em;
	a {
		margin: 0 0.5em;
	}
}

#video {
	background: #b48b3c url('../img/video-bg.jpg') no-repeat center top;
	background-size: auto 100%;
	text-align: center;
	padding: 0 2em;
	&.playing {
		background: #000;
		padding: 0;
		border-bottom: 1px solid #222;
	}
	.video-container {
		background: transparent;
		max-width: 920px;
		margin: 0 auto;
		@include transition;
	}

	img {
		margin: 2em auto;
		display: block;
		width: auto;
		height: auto;
		max-width: 768px;
		cursor: pointer;
		border: 1px solid rgba(255,255,255,0.5);
	}
}

#facts {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			@include column(6);
			font-size: 1.2em;
			line-height: 1.5em;
			padding: 1.5em 0;
			height: 170px;
			cite {
				display: block;
				text-align: left;
				font-size: 0.8em;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color: #AAA;
			}
		}
	}
}

#action {
	background: #111;
	color: #EEE;
	h2 {
		margin-bottom: 0.5em;
	}
	article {
		@include column(9);
		font-size: 1.7em;
		line-height: 1.5em;
		display: block;
		li {
			margin: 0.5em 0;
			padding-left: 0.5em;
		}
	}
	ul {
		margin: 1em 0;
	}
	aside {
		border-top-color: #333;
		margin-top: 3em;
		display: block;
	}
	.bill {
		background: #FFF;
		color: #555;
		@include column(6);
		margin-top: 2em;
		border-bottom: 4px solid #000;
		svg {
			height: 48px;
			width: 48px;
			margin: 0 auto;
			margin-top: 2em;
			display: block;
		}
		h4 {
			font-size: 1.8em;
			text-align: center;
			line-height: 1em;
			margin-top: 1em;
			padding: 0 1.111111112em;
		}
		p, ul {
			width: auto;
			display: block;
			float: none;
			padding: 0 2em;
		}
		ul {
			padding-left: 3.5em;
			margin: 1.5em 0;
		}
		&.good {
			border-top: 4px solid #8dd632;
			svg {
				fill: #8dd632;
			}
			h4 {
				color: #8dd632;
			}
		}
		&.bad {
			border-top: 4px solid #e0133c;
			svg {
				fill: #e0133c;
			}
			h4 {
				color: #e0133c;
			}
		}
		p {
			margin: 1em 0;
		}
		aside {
			font-size: 0.9em;
			margin: 0 2em;
			margin-top: 2em;
			padding-bottom: 2em;
			width: auto;
			display: block;
			border-top-color: #DDD;
			float: none;

			ul {
				font-size: 1em;
				margin: 0;
				list-style-type: none;
				padding: 0;
				padding-top: 1em;
				li {
					border-top: 1px solid #EEE;
					line-height: 1.25em;
					margin: 0;
					padding: 1em 0;
					a {
						margin: 0;
						display: block;
					}
				}
			}
		}
	}
}

#take-part {
	background: #FAFAFA;
	article.intro {
		font-size: 1.5em;
	}
	article {
		font-size: 1.2em;
		line-height: 1.5em;
		@include column(9);
		@include clearfix;
	}
	.form-container {
		background: #333;
		padding: 2em 1em;
		clear: both;
		@include column(12);
		margin-top: 1.5em;
		margin-bottom: 3em;
	}
	h3 {
		margin-top: 1em;
		padding-top: 1.5em;
		border-top: 3px solid #EEE;
	}
	ul.install {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			display: inline;
			line-height: 1.5em;
			a {
				background: $highlight;
				display: inline-block;
				margin-bottom: 0.25em;
				padding: 0.5em 1em;
				font-size: 0.8em;
				line-height: 1em;
				color: #333;
				@include italic;
			}
		}
	}
	pre {
		display: block;
		background: #EEE;
		font-size: 0.8em;
		overflow: hidden;
		word-break: break-all;
		word-wrap: break-word;
		padding: 1em;
		color: #888;
	}
}
#footer-form {
	background: #333;
	padding: 2em 0;
	.form-container {
		border: none;
		background: transparent;
	}
}

footer {
	background: #111;
	padding: 2em 0;
	color: #AAA;
	font-size: 0.9em;
	.form-container {
		background: #000;
		border: none;
		border-bottom: 1px solid #222;
		padding-bottom: 2em;
		margin-bottom: 2em;
		h2 {
			font-size: 1.5em;
		}
		p {
			margin-top: 1em;
		}
	}
	p {
		margin: 0;
		margin-bottom: 0.25em;
	}
}

#toggle {
	display: none;
}

@media screen and (max-width: 767px) {
	body {
		font-size: 14px;
	}
	#video .video-container img {
		width: 100%;
		height: auto;
	}
	section img {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
	header h1 {
		font-size: 1.1em;
		figure {
			max-width: 400px;
			img {
				display: none;
				&.logos-mobile {
					display: block;
				}
			}
		}
	}
	.form-container {
		display: none;
	}
	section {
		padding: 3em 0;
		h2 {
			font-size: 1.4em;
			padding-top: 0.5em;
			margin-bottom: 0;
		}
	}

	h2, #facts ul li, #action article, #take-part article, #action .bill {
		@include column(12);
		min-height: 0;
	}
	#facts ul li {
		padding: 1em 0;
	}
	#action article, #take-part article.intro {
		font-size: 1.2em;
	}
	header {
		text-align: left;
		h1, .mobile {
			display: block;
			text-align: center;
		}
	}
	.toggle { display: block; position: relative; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; text-align: center; }
		.toggle:after {
	content: 'Menu';
	display: block;
	padding: 0.5em 0;
	border-radius: 0;
	width: 100%;
	background: darken($highlight,10%);
	color: #333;
	margin: 0;
	@include italic;


	}

	nav ul {
		display: none;
		opacity: 0;
		background: #FAFAFA;
		font-size: 1em;
		margin-top: 0;
		li {
			display: block;
			border-bottom: 1px solid #DDD;
			text-align: left;
			a {
				padding: 1em;
				opacity: 1;
				display: block;
			}
		}
	}

	#toggle:checked + nav #menu { display: block; opacity: 1;}

}

.sharecenter {
    height: 88px;
    margin-top: 80px;
}
#social {
	padding-top: 2em;
	margin-bottom: 1em;
	text-align: center;
	@include clearfix;
}
.social-count {
	@include column(2);
    display: inline-block;
    position: relative;
    margin: 0 auto;
    transition: 0.2s ease-in-out all;
    opacity: 0.8;
    &:hover {
    	opacity:0.95;
    }
}
.social-count:after {
    background: #fff;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    border-radius: 1px;
    top: -33px;
    color: #333;
    content: attr(count);
    display: block;
    left: 50%;
    margin-left: -27px;
    width: 54px;
    padding: 5px;
    line-height: 1em;
    text-align: center;
    position: absolute;
    white-space: nowrap;
}
.social-count:before {
    border: solid;
    border: 1px solid $highlight;
    border-color:  $highlight transparent;
    border-color:$highlight transparent;
    border-width: .2em .2em 0 .2em;
    top: -8px;
    content: "";
    display: block;
    left: 50%;
    margin-left: -.2em;
    position: absolute;
}
.social-count.tumblr-button:after {
	content: 'Reblog';
	font-size: 0.6em;
	padding: .8em 0;
}
.sicon {
    width: 54px;
    height: 54px;
    margin: 0 auto;
    position: relative;
    background-color: black;
    background-image: url('../imgs/social-icons.png');
}
#sfb {
    background-position: 66.6666% 0;
}
#stwit {
    background-position: 33.3333% 0;
}
#sgplus {
    background-position: 0% 0;
}
#stumblr {
    background-position: right 0;
}
.floating-share {
	position: fixed;
	top: 30%;
	left: 0;
	z-index: 50;
	.social-count {
		@include column(12);
		margin-bottom: 2em;
	}
}
@media screen and (max-width: 1000px) {
	.floating-share {
		display: none;
	}
}
.responsive { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; }

.responsive iframe, .responsive object, .responsive embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
