<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}The Day We Fight Back - February 11th 2014{% endif %}</title>
  <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}February 11th 2014 is the day the Internet rises up to fight back against mass surveillance. Join us.{% endif %}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="author" href="humans.txt" />

  <!--  CSS -->
  
  {% if page.layout == "home" || page.layout == "home-international" %}
  <link href="/css/home.css" rel="stylesheet">
  {% else %}
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/open-sans.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  {% endif %}
  

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script type="text/javascript">
        window.html5 = { 'elements': 'figure mark header footer article aside section customelement' };
      </script>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <!-- Facebook OpenGraph tags -->
  <meta property="og:title" content="{% if page.og_title %}{{ page.og_title }}{% else %}Today, February 11th 2014, Thousands of Websites are Protesting Surveillance.{% endif %}" />
  <meta property="og:description" content="{% if page.og_description %}{{ page.og_description }}{% else %}Reddit, Mozilla, Tumblr, Imgur, and over 6,000 other websites are protesting NSA surveillance. Join them.{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{% if page.og_url %}{{ page.og_url }}{% else %}https://thedaywefightback.org/{% endif %}" />
  <meta property="og:image" content="{% if page.og_image %}{{ page.og_image }}{% else %}https://thedaywefightback.org/img/social-fb-share.jpg{% endif %}" />
  <meta property="og:site_name" content="TheDayWeFightBack.org" />
  <meta property="fb:admins" content="36801504" />
  <meta property="fb:app_id" content="709021229138321" />

  <!-- Twitter Card tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@daywefightback">
  <meta name="twitter:creator" content="@daywefightback">
  <meta name="twitter:title" content="{% if page.twitter_card_title %}{{ page.twitter_card_title }}{% else %}Today We Fight Back Against Mass Surveillance.{% endif %}">
  <meta name="twitter:description" content="{% if page.twitter_card_description %}{{ page.twitter_card_description }}{% else %}Reddit, Mozilla, Tumlr, Imgur, and over 6,000 other websites are protesting NSA surveillance. Join them.{% endif %}">
  <meta name="twitter:image" content="{% if page.twitter_card_image %}{{ page.twitter_card_image }}{% else %}https://thedaywefightback.org/img/social-new-twitter.jpg{% endif %}">
  
</head>