
    <div class="jumbotron" style="margin-bottom: 0;">
        <div class="container">
                    <!--
            <div  id="video">
                <div class="container">
                    <div class="video-container">
                        <img class="img-responsive" src="/img/new-video-splash.jpg" id="video-preload" />
                    </div>
                    <img id="logos" src="/img/logos.png" class="hidden-xs img-responsive" />
                    <img id="logos-mobile" src="/img/logos-mobile@2x.png" class="visible-xs" />
                  -->
                </div>
            </div>

            <!--
            {% if page.url == "/index.html"%}
            <img id="logos" src="/img/logos.png" class="hidden-xs img-responsive" />
            <img id="logos-mobile" src="/img/logos-mobile@2x.png" class="visible-xs" />
            <div id="subscribers-count">
              <div id='subscribers-count-sites'></div>websites so far.
              <div id='days-left'></div>days
              <div id='hours-left'></div>hours
              <div id='minutes-left'></div>minutes
              <div id='seconds-left'></div>seconds left.
            </div>
            {% endif %}
        </div>-->
    </div>
  </div>