
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/events/">Events</a><li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/press/">Press release</a></li>
                    <li><a href="mailto:contact@thedaywefightback.org">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>