    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.10.2.min.js"></script>
  {% if page.layout == "home-international" or page.layout == "home" %}
    <script type="text/javascript" src="//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/thedaywefightback/js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/thedaywefightback/js/easyXDM.min.js"></script>
    {% endif %}
    <script>
        window.jQuery || document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.map"><\/script>');
        {% if page.extra_javascript_in_footer %}{{ page.extra_javascript_in_footer }}{% endif %}
          var tfrceConfig = {
              {% if page.custom_url_share_count == true %}
              shareCountURL: '{{ page.og_url }}'
              {% endif %}
          };
      </script>
    <script src="/js/libs.min.js"></script>

  {% if page.layout == "home-international" or page.layout == "home" %}
    <script type='text/javascript' src="/js/homepage.js"></script>
	    {% if page.layout == "home-international" %}
	   		<script type='text/javascript' src="/js/international.js"></script>
	    {% endif %}
    {% else %}
      <script src="/js/main.js"></script>
    {% endif %}
    <!-- Piwik -->
    <!-- End Piwik Code -->