    {% if page.social_sidebar != false %}
    <div id="socfooter" class="down floating-share">
        <a style="margin-top: 40px; margin-bottom: 40px;" data-network="twitter" href="{{ page.twitter_share_link }}" count="0" target="_blank" class="twlinkthis twitter-button social-count" >
            <div class="sicon" id="stwit"></div>
        </a>
        <a href="{{ page.facebook_share_link }}" data-network="facebook" count="0" target="_blank" class="social-count facebook-button twlinkthis">
            <div class="sicon" id="sfb"></div>
        </a>
        {% if page.layout == "home-international" or page.layout == "home" %}
        <a count="0" href="{{ page.google_share_link }}" data-network="googleplus" target="_blank" class="social-count google-button gpluslinkthis">
        	<div class="sicon" id="sgplus"></div>
        </a>
        <a href="http://www.tumblr.com/reblog/76297516785/RnSfIgVu" target="_blank" class="social-count tumblr-button">
        	<div class="sicon" id="stumblr"></div>
        </a>
      {% endif %}
    </div>
      {% endif %}