<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

	{% include head.html %}

	<body>
		{% include social_sidebar.html %}
		<!--[if lt IE 9]>
			<div id="update" style="background: #FFF; border: 10px solid #FF0000; color: #000; font-weight: bold; text-align: center; padding: 1em; position: relative;z-index: 2000;">
				Your browser is out of date. As a result, this page may not display correctly. <a href="http://yourbrowser.net">Learn more &rarr;</a>
				</div>
		<![endif]-->

		<header>
				<input type="checkbox" id="toggle" />
				<nav>
					<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu" onclick></label>
					<ul id="menu">
					    <li><a href="/">Home</a></li>
					    <li><a href="/events/">Events</a></li>
					    <li><a href="/blog">Blog</a></li>
					    <li><a href="/press/">Press release</a></li>
					    <li><a href="mailto:contact@thedaywefightback.org">Contact</a></li>
					</ul>
				</nav>
				<h1>
					Today, February 11th, 2014 is
					<strong>The Day We Fight Back</strong>
					against mass surveillance
					<figure>
						<img src="/img/logos.png" class="logos" />
						<img src="/img/logos-mobile.png" class="logos-mobile" />
					</figure>
				</h1>

				<div class="mobile">
					<a href="tel:+12025520505" class="mobile-call-url">Call your representative &rarr;</a>
					<p>We'll give you a script and connect you automatically.</p>
					<div style="display: none;" class="mobile-what-to-say">
					<h3>What to say</h3>
						<p>I am one of your constituents, and I’m calling to ask you to take action against mass surveillance by the NSA.</p>
						<p>I’d like Senator/Representative ____ to support and co-sponsor the <strong>USA Freedom Act</strong>. I would also like you to oppose S. 1631, the so-called <strong>FISA Improvements Act</strong>. Moreover, I’d like you to work to prevent the NSA from <strong>undermining encryption standards</strong> and to <strong>protect the privacy rights of non-Americans</strong>.</p>
					</div>
				</div>
				<div class="form-container call-only">
					<div class="container">
						<h2>Take action now</h2>
					    <form method="get" action="https://call.taskforce.is/create" class="call-form" role="form" autocomplete="on">

					            <label class="control-label" for="userPhone">
					                <img src="/imgs/call-your-legislators.png" alt="Call your legislators!" class="img-responsive"/>
					            </label>
					            <input type="text"  data-format="+1 (ddd) ddd-dddd" placeholder="YOUR PHONE NUMBER" name="phone" class="form-control bfh-phone" id="userPhone" x-autocompletetype="phone">

					          <input id="submit" type="submit" value="Next &rarr;" class="">
					          <p>We’ll call you, show you a script and connect you.</p>
					          <span id="error-text"></span>
					      <div class="twilio-container">
					        <a href="https://twilio.com" target="_blank"><img class="twilio-poweredby" src="/imgs/poweredby.png" ></a><a href="https://www.twilio.com/legal/privacy" target="_blank"><img class="twilio-privacy" src="/imgs/twilio-privacypolicy.png" ></a>
					      </div>
					    </form>
					    <form method="get"
           action="https://d1agz031tafz8n.cloudfront.net/thedaywefightback.js/thedaywefightback/email-tool.html" class="email-form" role="form" autocomplete="on">
					            <label class=" control-label" for="userEmail">
					                <img src="/imgs/email-your-legislators.png" alt="Email your legislators!" class="img-responsive"/>
					            </label>
					            <input type="email" placeholder="YOUR EMAIL ADDRESS" name="email" class="form-control" id="userEmail"  x-autocompletetype="email">

					          <input id="submit" type="submit" value="Next &rarr;" class="">
					          <p>It only takes a few minutes.</p>
					          <span id="error-text"></span>
					    </form>
					</div>

					<a href="#participate" class="add-banner"><strong>It's not too late.</strong> Add the banner to your site! &rarr;</a>
					<div class="form-footer">
						<div class="container">
							<div class="meta">
								<a href="/privacy/" target="_blank">Privacy Policy</a><span> | </span><a href="/international?redirect=nope" class="switch-locale">Not in the USA?</a>
							</div>
							<div class="calls-counter">
							  <span id="call-count">0</span> CALLS PLACED
							</div>
							<div class="emails-counter">
							   <span id="email-count">0</span> EMAILS SENT
							</div>

						</div>
					</div>
				</div>
		</header>

		<section id="facts">
			<div class="container">
				<h2><span>The Facts</span></h2>

				<ul>
					<li>
						The NSA "has <strong>secretly broken into</strong> the main communications links that connect <strong>Yahoo and Google data centers</strong> around the world."
						 <cite>
						   &mdash; <a href="http://www.washingtonpost.com/world/national-security/nsa-infiltrates-links-to-yahoo-google-data-centers-worldwide-snowden-documents-say/2013/10/30/e51d661e-4166-11e3-8b74-d89d714ca4dd_story.html"> The New York Times</a>
						</cite>
					</li>
					<li>
						The NSA  collected "almost <strong>3 billion pieces of intelligence from US computer networks</strong>" in one month in 2013.
						 <cite>
						   &mdash; <a href="http://www.theguardian.com/world/2013/jun/08/nsa-boundless-informant-global-datamining"> The Guardian</a>
						</cite>
					</li>
					<br class="clear" />
					<li>
						The NSA is collecting the content and metadata of <strong>emails, web activity, chats, social networks, and everything else</strong> as part of what it calls "upstream" collection.
						<cite>
						    &mdash; <a href="http://www.washingtonpost.com/wp-srv/special/politics/prism-collection-documents/"> The Washington Post</a>
						</cite>
					</li>
					<li>
						The NSA "is <strong>harvesting hundreds of millions of contact lists</strong> from personal e-mail and instant messaging accounts around the world, many of them belonging to Americans."
						<cite>
						  &mdash; <a href="http://www.washingtonpost.com/world/national-security/nsa-collects-millions-of-e-mail-address-books-globally/2013/10/14/8e58b5be-34f9-11e3-80c6-7e6dd8d22d8f_story.html"> The Washington Post</a>
						 </cite>
					</li>
					<br class="clear" />
					<li>
						The NSA "is gathering nearly <strong>5 billion records a day</strong> on the whereabouts of cellphones around the world."
						<cite>
						  &mdash; <a href="http://www.washingtonpost.com/world/national-security/nsa-tracking-cellphone-locations-worldwide-snowden-documents-show/2013/12/04/5492873a-5cf2-11e3-bc56-c6ca94801fac_story.html"> The Washington Post</a>
						</cite>
					</li>
					<li>
						The NSA "is searching the contents of <strong>vast amounts of Americans’ e-mail and text communications</strong> into and out of the country."
						<cite>
						  &mdash; <a href="http://www.nytimes.com/2013/08/08/us/broader-sifting-of-data-abroad-is-seen-by-nsa.html?_r=0"> The New York Times</a>
						</cite>
					</li>
				</ul>

				<aside>
					Read more: <a href="https://en.wikipedia.org/wiki/Global_surveillance_disclosures_(2013–present)">Wikipedia</a> <a href="https://www.eff.org/nsa-spying">EFF.org</a> <a href="http://www.theguardian.com/world/interactive/2013/nov/01/snowden-nsa-files-surveillance-revelations-decoded">The Guardian</a>
				</aside>


			</div>
		</section>

		<section id="video">
				<div class="video-container">
				    <img src="/img/video-splash-2.png" id="video-preload" />
				</div>
		</section>
		<a name="laws"></a>
		<section id="action">
			<div class="container">
				<h2><span>What we can do</span></h2>
				<article>
					<p>Congress is considering two major bills.</p>
					<ul>
						<li>The <a href="http://sensenbrenner.house.gov/legislation/theusafreedomact.htm">USA Freedom Act</a> curtails NSA surveillance abuses.</li>
						<li>The <a href="https://www.govtrack.us/congress/bills/113/s1631/text">FISA Improvements Act</a> attempts to legalize bulk data collection of phone records.</li>
					</ul>
					<p>We need to tell Congress to <strong>pass the USA Freedom Act</strong> and amend it to make it even stronger.</p>
				</article>

				<aside>
					<a href="javascript:void(0);" id="expand-bills" onclick="showMore();">Read more about each bill &rarr;</a>
				</aside>
				<div id="bill-details">
					<div class="bill good">
						<svg version="1.1" baseProfile="basic" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="72" height="72" viewBox="0 0 72 72" xml:space="preserve"><path d="M36 0C16.118 0 0 16.117 0 36s16.118 36 36 36 36-16.117 36-36S55.882 0 36 0zM58.996 26.518L33.722 51.85c-0.728 0.73-2.166 1.327-3.196 1.327h-2.183c-1.03 0-2.468-0.599-3.195-1.327L13.245 39.893c-0.727-0.73-0.726-1.924 0.003-2.652l4.684-4.684c0.729-0.73 1.921-0.73 2.651-0.002l7.604 7.588c0.73 0.729 1.922 0.728 2.65-0.002l20.841-20.89c0.728-0.729 1.921-0.733 2.652-0.007l4.658 4.627C59.721 24.598 59.723 25.787 58.996 26.518z"/></svg>

						<h4>USA Freedom Act</h4>
					    <p>The USA Freedom Act (<a href="https://scout.sunlightfoundation.com/item/bill/s1599-113/uniting-and-strengthening-america-by-fulfilling-rights-and-ending-eavesdropping-dragnet-collection-and-online-monitoring-act">S. 1599</a>) is a bipartisan bill introduced by Sen. Patrick Leahy (D-VT) and Rep. Jim Sensenbrenner (R-WI). </p>

					     <p>If passed, this bill would be a <strong>substantial improvement</strong> to America’s laws regarding mass surveillance.</p>

					     <ul>
					     	<li>It brings <strong>new levels of transparency</strong> to the <a href="https://en.wikipedia.org/wiki/United_States_Foreign_Intelligence_Surveillance_Court">Foreign Intelligence Surveillance Court</a> (FISA court)</li>
					     	<li>It introduces <strong>a special advocate to champion civil liberties</strong> in the FISA court</li>
						    <li>It appears to create <strong>new statutory limits on mass surveillance</strong> by the NSA.</li>
						 </ul>

					     <p>However, <strong>this bill is a floor, not a ceiling</strong>. Here's how it could be improved:</p>

					     <ul>
					     	<li>It could clarify in plain language that bulk surveillance is illegal and prevent the FBI from issuing National Security Letters without prior review by a judge.</li>
						     <li>Include language to stop the NSA from undermining international encryption standards.</li>
					     	<li>Have stronger language to protect the privacy of people outside of the United States.</li>
					     </ul>

					     <p>The USA FREEDOM Act is one step in the right direction, with many more steps that need to follow. </p>

					      <aside>
						    	Read more:

						    							 <ul>
						    	   	<li><a href="https://www.eff.org/deeplinks/2013/11/floor-not-ceiling-supporting-usa-freedom-act-step-towards-less-surveillance">EFF’s analysis of the USA FREEDOM Act</a></li>
						    		<li><a href="https://www.aclu.org/blog/national-security/usa-freedom-act-real-spying-reform">ACLU’s blog post about the USA FREEDOM Act</a></li>
						    							</ul>
						    </aside>
					</div>
					<div class="bill bad">
						<svg version="1.1" baseProfile="basic" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="72" height="72" viewBox="0 0 72 72" xml:space="preserve"><path d="M51.5-0.3L20.6-0.3 0 20.3v30.9l20.6 20.6h30.9l20.6-20.6V20.3L51.5-0.3zM56.2 47l-8.9 8.9L36 44.6 24.7 55.9l-8.9-8.9 11.3-11.3L15.7 24.4l8.9-8.9 11.3 11.3 11.3-11.3 8.9 8.9L44.9 35.7 56.2 47z"/></svg>
						                  <h4>FISA Improvements Act</h4>

						                  <p>The FISA Improvements Act, is a bill written by the intelligence community and Sen. Dianne Feinstein (D-CA).</p>

						                  <p>If the FISA Improvements Act (S. 1631) were to pass:</p>
						                  <ul>
						                     <li>It <strong>would codify the controversial bulk telephone records surveillance program</strong> of the NSA.</li>
						                     <li>It would <strong>allow the NSA to continue to collect telephone records</strong> of hundreds of millions of Americans not suspected of any crime. </li>
						                     <li>It would permit the NSA to <strong>restart the bulk collection of Internet communication records</strong>—an extremely invasive, secret program the government attempted under dubious legal ground but abandoned because it wasn't effective.</li>
						                  </ul>
						                 <aside>
						                  	 Read more:
						                  	<ul>
						                  	   <li><a href="https://www.eff.org/deeplinks/2013/12/54-civil-liberties-and-public-interest-organizations-oppose-fisa-improvements-act">54 civil liberties and public interest groups opposing the FISA Improvements Act</a></li>
						                  	   <li><a href="https://www.eff.org/deeplinks/2013/12/54-civil-liberties-and-public-interest-organizations-oppose-fisa-improvements-act"></a><a href="https://www.aclu.org/blog/national-security-technology-and-liberty/sen-dianne-feinsteins-nsa-reforms-bad-privacy-bad">The ACLU’s blog post on the FISA Improvements Act</a></li>
						                  	   <li><a href="https://action.eff.org/o/9042/p/dia/action3/common/public/?action_KEY=9437">EFF’s alert about the FISA Improvements Act</a></li>
						                  	</ul>
						                  </aside>


					</div>
				</div>

			</div>
		</section>

		<section id="take-part">
			<div class="container">
				<h2><span>Take part</span></h2>
				<article class="intro">
					<p>The SOPA and PIPA protests were successful because we all took part, as a community. <strong>As Aaron Swartz put it, everybody "made themselves the hero of their own story."</strong> We can set a date, but we need all of you, the users of the Internet, to make it a movement.</p>
				</article>

				<div class="form-container">
						<form method="get" action="http://call.taskforce.is/create" class="call-form" role="form" autocomplete="on">
								<label class="control-label" for="userPhone">
									<img src="/imgs/call-your-legislators.png" alt="Call your legislators!" class="img-responsive"/>
								</label>
								<input type="text"  data-format="+1 (ddd) ddd-dddd" placeholder="YOUR PHONE NUMBER" name="phone" class="form-control bfh-phone" id="userPhone" x-autocompletetype="phone">

							  <input id="submit" type="submit" value="Next &rarr;" class="">
							  <p>We’ll call you, show you a script and connect you.</p>
							  <span id="error-text"></span>
						  <div class="twilio-container">
							<a href="https://twilio.com" target="_blank"><img class="twilio-poweredby" src="/imgs/poweredby.png" ></a><a href="https://www.twilio.com/legal/privacy" target="_blank"><img class="twilio-privacy" src="/imgs/twilio-privacypolicy.png" ></a>
						  </div>
						</form>
						<form method="get"
        action="https://d1agz031tafz8n.cloudfront.net/thedaywefightback.js/thedaywefightback/email-tool.html" class="email-form" role="form" autocomplete="on">
								<label class=" control-label" for="userEmail">
									<img src="/imgs/email-your-legislators.png" alt="Email your legislators!" class="img-responsive"/>
								</label>
								<input type="email" placeholder="YOUR EMAIL ADDRESS" name="email" class="form-control" id="userEmail"  x-autocompletetype="email">

							  <input id="submit" type="submit" value="Next &rarr;" class="">
							  <p>It only takes a few minutes.</p>
							  <span id="error-text"></span>
						</form>
				</div>


				<article id="participate">

					<h3>Add the banner to your site</h3>

					<ul class="install">
						<li><a href="https://www.cloudflare.com/apps/the_day_we_fight_back">One-click Cloudflare app</a></li>
						<li><a href="https://github.com/modemlooper/thedaywefightback.wp">Wordpress Plugin</a></li>
						<li><a href="https://github.com/mrjameshamilton/thedaywefightback.drupal">Drupal 7.x Plugin</a></li>
						<li><a href="https://github.com/betweenbrain/tdwfb/archive/master.zip">Joomla Plugin</a></li>
						<li><a href="https://github.com/tfrce/thedaywefightback.js/blob/gh-pages/SUBREDDIT.md">Subreddit plugin</a></li>
						<li><a href="http://www.concrete5.org/marketplace/addons/the-day-we-fight-back/">Concrete5 plugin</a></li>
					</ul>

					<p>Or simply copy the code below and add it just before the closing </body> tag in your site's HTML.</p>

<pre id="selectable" onclick="selectText('selectable')">&lt;!--[if !(lt IE 8)]&gt;&lt;!--&gt;
   &lt;script type="text/javascript"&gt;
     (function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=document.location.protocol+"//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
   &lt;/script&gt;
&lt;!--&lt;![endif]--&gt;</pre>

					<p><strong>Add the banner now.</strong></p>

					<p>See the live demos here: <a href="http://tfrce.github.io/thedaywefightback.js/example/banner.html" target="_blank" id="demo-link">US version</a>, <a href="http://tfrce.github.io/thedaywefightback.js/example/banner_international.html">international version</a>. The banner changes automatically based on the locations of visitors.</p>

					<p>For more information about the banner and optional settings, see our <a href="https://github.com/tfrce/thedaywefightback.js">Github Repo</a>.</p>

				</article>
				<article>
					<h3>Tell the world you're taking part</h3>
					<div id="social">

						<a href="{{ page.twitter_share_link }}" count="0" data-network="twitter" target="_blank" class="twitter-button social-count twlinkthis">
							<div class="sicon" id="stwit"></div>
						</a>
						<a href="{{ page.facebook_share_link }}" data-network="facebook" count="0" target="_blank" class="social-count facebook-button fblinkthis">
							<div class="sicon" id="sfb"></div>
						</a>
						<a count="0" href="{{ page.google_share_link }}" data-network="googleplus" target="_blank" class="social-count google-button gpluslinkthis">
							<div class="sicon" id="sgplus"></div>
						</a>
						<a href="http://www.tumblr.com/reblog/76297516785/RnSfIgVu" target="_blank" class="social-count tumblr-button">
							<div class="sicon" id="stumblr"></div>
						</a>
					</div>

					<p>Use the <strong>#stopthensa</strong> hashtag on Twitter to help spread the word!</p>

					<h3>Avatars and cover photos</h3>
					<div id="avatar-grid">
						<a href="/imgs/TDWFBAvatar.jpg"><img src="/imgs/TDWFBAvatar.jpg" alt="Avatar" /></a>
						<a href="/imgs/TDWFB.jpg"><img src="/imgs/TDWFB.jpg" alt="" /></a>
						<a href="/imgs/TDWFB2.jpg"><img src="/imgs/TDWFB2.jpg" alt="" /></a>
					</div>


					<h3>More things you can do</h3>
					<ul class="stack">
						<li><a href="/events">Attend an event</a> in your area</li>
						<li><a href="http://www.askthem.io/">Ask your representatives</a> the tough questions</li>
						<li><a href="https://writeyourrep.org/daywefightback/">Write to your representative</a> about NSA reform</li>

						<li>Download <a href="https://play.google.com/store/apps/details?id=com.taskforce.thedaywefightback">The Day We Fight Back app</a> on Google Play</li>
						<li>Download the <a href="https://itunes.apple.com/us/app/reform-the-nsa/id805284622?mt=8">Reform The NSA</a> app on iTunes</li>
					</ul>
				</article>
			</div>
		</section>

		<footer>


			<div class="container">
				<p>Coded by <a href="https://twitter.com/neutralthoughts" target="_blank">Thomas Davis</a>, <a href="https://sina.is" target="_blank">Sina Khanifar</a> and <a href="https://twitter.com/beaugunderson">Beau Gunderson</a>. Designed by <a href="http://samm.me/" target="_blank">Sam Mularczyk</a> and <a href="http://maxistentialism.com/" target="_blank">Max Temkin</a>. Header image by <a href="http://commons.wikimedia.org/wiki/File:Anti_ACTA_demonstration_in_Tartu.JPG">Ivo Kruusamägi</a>.</p>
				<p>This site is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International</a> License. <a href="/privacy/" style="float: right;">Privacy Policy (updated February 6th, 2014)</a></p>
			</div>
		</footer>

		 {% include scripts.html %}

		<script type="text/javascript">
			var vars = [], hash;
			    var q = document.URL.split('?')[1];
			    if(q != undefined){
			        q = q.split('&');
			        for(var i = 0; i < q.length; i++){
			            hash = q[i].split('=');
			            vars.push(hash[1]);
			            vars[hash[0]] = hash[1];
			        }
			}

			window.tdwfbParseLocation = function (data) {
		      	if(data){
		      		if(data.country.iso_code.toLowerCase() !== 'us' && vars['redirect'] == undefined) {
		      			if(getQueryVariable('r')) {
		      				window.location = '/international?r=' + getQueryVariable('r');
		      			} else {
							window.location = '/international';
		      			}
		      		}
      			};
      		}
      		if (vars['r'] == "eff") {
      			$('body').addClass('call-only');
      		}
      		$('.mobile-call-url').on('click', function () {
      			$('.mobile-what-to-say').show();
      		})
        var script = document.createElement('script');
        script.src = 'https://geoip.taskforce.is/?callback=tdwfbParseLocation';
        document.getElementsByTagName('head')[0].appendChild(script);

			document.getElementById("bill-details").style.display = 'none';
			function showMore(e) {
				document.getElementById("bill-details").style.display = 'block';
				document.getElementById("expand-bills").style.display = 'none';
			}
			function selectText(containerid) {
			        if (document.selection) {
			            var range = document.body.createTextRange();
			            range.moveToElementText(document.getElementById(containerid));
			            range.select();
			        } else if (window.getSelection) {
			            var range = document.createRange();
			            range.selectNode(document.getElementById(containerid));
			            window.getSelection().addRange(range);
			        }
			    }
		</script>
	</body>
</html>
